.root {
    -fx-hover-border-color: grey;
}

.ship-button {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.ship-button:hover {
    -fx-border-color: -fx-hover-border-color;
    -fx-border-radius: 5;
    -fx-transition: -fx-border-color 0.3s ease-in-out;
}

.tooltip {
    -fx-pref-width: -1; /* auto */
    -fx-max-width: 300px; /* limite fisso massimo */
    -fx-max-height: 120px; /* limite verticale per evitare balloon giganti */
    -fx-wrap-text: true;
}